<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Dashboard example</title>
        <script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.2.6.min.js"></script>
        <link href="/media/css/dashboard.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <script type="text/javascript" src="/media/js/dashboard.js"></script>
    <script type="text/javascript">
        $('<style type="text/css">.column{visibility:hidden;}</style>').appendTo('head');
        $('body').css({background: '#000 url(media/img/load.gif) no-repeat center'})

    </script>
<div style="text-align:right;color:white"><a href="{% url view_gadgets name %}">Add gadgets</a></div>

    <div id="columns">
        {% for column in dashboard_data %}
        <ul id="column{{ column.column }}" class="column">
        {% for gadget in column.gadgets %}
            <li class="gadget {{ gadget.get_colour }}{{ gadget.get_collapsed_style }}" id="{{ gadget.make_html_id }}" dbid="{{ gadget.uuid }}">
                <div class="gadget-head">
                    <h3>{{ gadget.title }}</h3>
                </div>
                <div class="gadget-content">
                <iframe id="iframe{{ gadget.make_html_id }}" width="100%" id="the_iframe" onLoad="changeHeight(this);" src="{% url view_gadget uuid=gadget.uuid %}" scrolling="NO" height="1" frameborder="0">
                An iframe capable browser is 
                required to view this web site.
                </iframe>
                </div>
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
    </div>

    <script type="text/javascript" src="/media/js/jquery-ui-personalized-1.6rc2.min.js"></script>
    
    <script type="text/javascript">
    function mainGadgetIndividual(id) {
        var iGadgetInIndividual = {{% for column in dashboard_data %}{% for gadget in column.gadgets %}
            {{ gadget.make_html_id }} : {
                // movable: false,
                // removable: false,
                // collapsible: false,
                // editable: false,
                fields:{{ gadget.get_extra_fields_json }}
                // colorClasses : ['color-yellow', 'color-red']
            },{% endfor %}{% endfor %}
        }
        return iGadgetInIndividual[id];
        
    }
    </script>
    
    <script type="text/javascript">
    iDashboard.init('{{ name }}');
    </script>
</body>
</html>