<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Dashboard example</title>
        <script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.2.6.min.js"></script>
        <link href="/media/css/dashboard.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <script type="text/javascript">
        $('<style type="text/css">.column{visibility:hidden;}</style>').appendTo('head');
        $('body').css({background: '#000 url(media/img/load.gif) no-repeat center'})
        function changeHeight(obj)
        {
            obj.height=obj.contentWindow.document.body.scrollHeight;
        }
    </script>

    <div id="columns">
        
        <ul id="column1" class="column">
        {% for gadget in gadgets.1 %}
            <li class="{{ gadget.class }}" id="{{ gadget.id }}">
                <div class="gadget-head">
                    <h3>{{ gadget.title }}</h3>
                </div>
                <div class="gadget-content">
                <iframe width="100%" id="the_iframe" onLoad="changeHeight(this);" src="/dashboard/gadget/{{ gadget.id }}/" scrolling="NO" height="1" frameborder="0">
                An iframe capable browser is 
                required to view this web site.
                </iframe>
                </div>
            </li>
        {% endfor %}
        </ul>

        <ul id="column2" class="column">
        {% for gadget in gadgets.2 %}
            <li class="{{ gadget.class }}" id="{{ gadget.id }}">
                <div class="gadget-head">
                    <h3>{{ gadget.title }}</h3>
                </div>
                <div class="gadget-content">
                <iframe width="100%" id="the_iframe" onLoad="changeHeight(this);" src="/dashboard/gadget/{{ gadget.id }}/" scrolling="NO" height="1" frameborder="0">
                An iframe capable browser is 
                required to view this web site.
                </iframe>
                </div>
            </li>
        {% endfor %}
        </ul>
        
        <ul id="column3" class="column">
        {% for gadget in gadgets.3 %}
            <li class="{{ gadget.class }}" id="{{ gadget.id }}">
                <div class="gadget-head">
                    <h3>{{ gadget.title }}</h3>
                </div>
                <div class="gadget-content">
                <iframe width="100%" id="the_iframe" onLoad="changeHeight(this);" src="/dashboard/gadget/{{ gadget.id }}/" scrolling="NO" height="1" frameborder="0">
                An iframe capable browser is 
                required to view this web site.
                </iframe>
                </div>
                
            </li>
        {% endfor %}    
        </ul>
    </div>

    <script type="text/javascript" src="/media/js/jquery-ui-personalized-1.6rc2.min.js"></script>
    <script type="text/javascript" src="/media/js/dashboard.js"></script>
    <script type="text/javascript">
    iDashboard.init('{{ name }}');
    </script>
</body>
</html>